.rect{
  position: absolute;
  // 颜色浅蓝色，但不要太刺眼，偏浅蓝
  border: 2px solid #0ba6ee;
  box-sizing: border-box;
  z-index: 999;
  cursor: move;
}
.anchor{
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: red;
  border-radius: 50%;
  border: 1px solid #fff;
  z-index: 999;
  // 禁止拖拽
}